<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Inverted Row</key>
	<dict>
		<key>location</key>
		<string>home</string>
		<key>body</key>
		<string>upper</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>50</integer>
		<key>dls2</key>
		<integer>75</integer>
		<key>dls3</key>
		<integer>100</integer>
		<key>dls4</key>
		<integer>125</integer>
	</dict>
	<key>jumping lunges (BW)</key>
	<dict>
		<key>location</key>
		<string>home</string>
		<key>body</key>
		<string>lower</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>75</integer>
		<key>dls2</key>
		<integer>100</integer>
		<key>dls3</key>
		<integer>150</integer>
		<key>dls4</key>
		<integer>200</integer>
	</dict>
	<key>lunges (BW)</key>
	<dict>
		<key>location</key>
		<string>home</string>
		<key>body</key>
		<string>lower</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>75</integer>
		<key>dls2</key>
		<integer>100</integer>
		<key>dls3</key>
		<integer>200</integer>
		<key>dls4</key>
		<integer>300</integer>
	</dict>
	<key>pushups</key>
	<dict>
		<key>location</key>
		<string>home</string>
		<key>body</key>
		<string>upper</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>50</integer>
		<key>dls2</key>
		<integer>100</integer>
		<key>dls3</key>
		<integer>200</integer>
		<key>dls4</key>
		<integer>300</integer>
	</dict>
	<key>body squats</key>
	<dict>
		<key>location</key>
		<string>home</string>
		<key>body</key>
		<string>lower</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>75</integer>
		<key>dls2</key>
		<integer>150</integer>
		<key>dls3</key>
		<integer>300</integer>
		<key>dls4</key>
		<integer>400</integer>
	</dict>
	<key>back squats 135lb</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>lower</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>20</integer>
		<key>dls2</key>
		<integer>30</integer>
		<key>dls3</key>
		<integer>40</integer>
		<key>dls4</key>
		<integer>50</integer>
	</dict>
	<key>front squats 115lb</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>lower</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>20</integer>
		<key>dls2</key>
		<integer>30</integer>
		<key>dls3</key>
		<integer>40</integer>
		<key>dls4</key>
		<integer>50</integer>
	</dict>
	<key>box jumps 24in</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>lower</string>
		<key>type</key>
		<string>cardio</string>
		<key>dls1</key>
		<integer>25</integer>
		<key>dls2</key>
		<integer>50</integer>
		<key>dls3</key>
		<integer>100</integer>
		<key>dls4</key>
		<integer>150</integer>
	</dict>
	<key>back extensions</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>upper</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>50</integer>
		<key>dls2</key>
		<integer>100</integer>
		<key>dls3</key>
		<integer>150</integer>
		<key>dls4</key>
		<integer>200</integer>
	</dict>
	<key>barbell snatch 95lb</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>total</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>25</integer>
		<key>dls2</key>
		<integer>50</integer>
		<key>dls3</key>
		<integer>75</integer>
		<key>dls4</key>
		<integer>100</integer>
	</dict>
	<key>burpee</key>
	<dict>
		<key>location</key>
		<string>home</string>
		<key>body</key>
		<string>total</string>
		<key>type</key>
		<string>cardio</string>
		<key>dls1</key>
		<integer>25</integer>
		<key>dls2</key>
		<integer>50</integer>
		<key>dls3</key>
		<integer>75</integer>
		<key>dls4</key>
		<integer>100</integer>
	</dict>
	<key>clean and jerk 135lb</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>total</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>20</integer>
		<key>dls2</key>
		<integer>30</integer>
		<key>dls3</key>
		<integer>40</integer>
		<key>dls4</key>
		<integer>50</integer>
	</dict>
	<key>dip</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>upper</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>50</integer>
		<key>dls2</key>
		<integer>100</integer>
		<key>dls3</key>
		<integer>150</integer>
		<key>dls4</key>
		<integer>200</integer>
	</dict>
	<key>double under</key>
	<dict>
		<key>location</key>
		<string>home</string>
		<key>body</key>
		<string>total</string>
		<key>type</key>
		<string>cardio</string>
		<key>dls1</key>
		<integer>50</integer>
		<key>dls2</key>
		<integer>100</integer>
		<key>dls3</key>
		<integer>150</integer>
		<key>dls4</key>
		<integer>200</integer>
	</dict>
	<key>handstand pushup</key>
	<dict>
		<key>location</key>
		<string>home</string>
		<key>body</key>
		<string>upper</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>18</integer>
		<key>dls2</key>
		<integer>30</integer>
		<key>dls3</key>
		<integer>42</integer>
		<key>dls4</key>
		<integer>60</integer>
	</dict>
	<key>kettlebell swings</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>total</string>
		<key>type</key>
		<string>cardio</string>
		<key>dls1</key>
		<integer>50</integer>
		<key>dls2</key>
		<integer>100</integer>
		<key>dls3</key>
		<integer>150</integer>
		<key>dls4</key>
		<integer>200</integer>
	</dict>
	<key>pull up</key>
	<dict>
		<key>location</key>
		<string>home</string>
		<key>body</key>
		<string>upper</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>30</integer>
		<key>dls2</key>
		<integer>60</integer>
		<key>dls3</key>
		<integer>90</integer>
		<key>dls4</key>
		<integer>120</integer>
	</dict>
	<key>push-press 45lb plate</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>upper</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>50</integer>
		<key>dls2</key>
		<integer>100</integer>
		<key>dls3</key>
		<integer>150</integer>
		<key>dls4</key>
		<integer>200</integer>
	</dict>
	<key>push-press 115lb</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>upper</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>25</integer>
		<key>dls2</key>
		<integer>50</integer>
		<key>dls3</key>
		<integer>100</integer>
		<key>dls4</key>
		<integer>150</integer>
	</dict>
	<key>running (meters)</key>
	<dict>
		<key>location</key>
		<string>home</string>
		<key>body</key>
		<string>lower</string>
		<key>type</key>
		<string>cardio</string>
		<key>dls1</key>
		<integer>800</integer>
		<key>dls2</key>
		<integer>1600</integer>
		<key>dls3</key>
		<integer>2400</integer>
		<key>dls4</key>
		<integer>3200</integer>
	</dict>
	<key>shoulder press 40lb dumbbells</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>upper</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>60</integer>
		<key>dls2</key>
		<integer>80</integer>
		<key>dls3</key>
		<integer>120</integer>
		<key>dls4</key>
		<integer>150</integer>
	</dict>
	<key>lunges</key>
	<dict>
		<key>location</key>
		<string>home</string>
		<key>body</key>
		<string>lower</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>25</integer>
		<key>dls2</key>
		<integer>50</integer>
		<key>dls3</key>
		<integer>75</integer>
		<key>dls4</key>
		<integer>100</integer>
	</dict>
	<key>thrusters</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>total</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>60</integer>
		<key>dls2</key>
		<integer>80</integer>
		<key>dls3</key>
		<integer>120</integer>
		<key>dls4</key>
		<integer>150</integer>
	</dict>
	<key>stepups with dumbbells</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>lower</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>60</integer>
		<key>dls2</key>
		<integer>80</integer>
		<key>dls3</key>
		<integer>120</integer>
		<key>dls4</key>
		<integer>150</integer>
	</dict>
	<key>toes to bar</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>core</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>25</integer>
		<key>dls2</key>
		<integer>40</integer>
		<key>dls3</key>
		<integer>60</integer>
		<key>dls4</key>
		<integer>80</integer>
	</dict>
	<key>sit-ups</key>
	<dict>
		<key>location</key>
		<string>home</string>
		<key>body</key>
		<string>core</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>75</integer>
		<key>dls2</key>
		<integer>150</integer>
		<key>dls3</key>
		<integer>300</integer>
		<key>dls4</key>
		<integer>400</integer>
	</dict>
	<key>planks (seconds)</key>
	<dict>
		<key>location</key>
		<string>home</string>
		<key>body</key>
		<string>core</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>120</integer>
		<key>dls2</key>
		<integer>200</integer>
		<key>dls3</key>
		<integer>280</integer>
		<key>dls4</key>
		<integer>360</integer>
	</dict>
	<key>box jumps 36in</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>lower</string>
		<key>type</key>
		<string>cardio</string>
		<key>dls1</key>
		<integer>20</integer>
		<key>dls2</key>
		<integer>40</integer>
		<key>dls3</key>
		<integer>75</integer>
		<key>dls4</key>
		<integer>125</integer>
	</dict>
	<key>muscle ups</key>
	<dict>
		<key>location</key>
		<string>gym</string>
		<key>body</key>
		<string>upper</string>
		<key>type</key>
		<string>strength</string>
		<key>dls1</key>
		<integer>6</integer>
		<key>dls2</key>
		<integer>12</integer>
		<key>dls3</key>
		<integer>18</integer>
		<key>dls4</key>
		<integer>24</integer>
	</dict>
</dict>
</plist>
