<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adj</key>
	<array>
		<string>awesome</string>
		<string>stinky</string>
		<string>tough</string>
		<string>swank</string>
		<string>slimy</string>
		<string>shiny</string>
		<string>slick</string>
		<string>muddy</string>
		<string>prickley</string>
		<string>intense</string>
		<string>extreme</string>
		<string>big</string>
		<string>small</string>
		<string>enormous</string>
		<string>tiny</string>
		<string>blazing</string>
		<string>abnormal</string>
		<string>absurd</string>
		<string>acid</string>
		<string>original</string>
		<string>abusive</string>
		<string>acoustic</string>
		<string>afraid</string>
		<string>alcoholic</string>
		<string>alert</string>
		<string>alive</string>
		<string>amazing</string>
		<string>amused</string>
		<string>ancient</string>
		<string>angry</string>
		<string>animated</string>
		<string>annoying</string>
		<string>aquatic</string>
		<string>average</string>
		<string>awful</string>
		<string>adorable</string>
		<string>beautiful</string>
		<string>clean</string>
		<string>fancy</string>
		<string>long</string>
		<string>plain</string>
		<string>sparkling</string>
		<string>clever</string>
		<string>dead</string>
		<string>easy</string>
		<string>mushy</string>
		<string>odd</string>
		<string>powerful</string>
		<string>rich</string>
		<string>tender</string>
		<string>vast</string>
		<string>bewildered</string>
		<string>clumsy</string>
		<string>fierce</string>
		<string>grumpy</string>
		<string>itchy</string>
		<string>jealous</string>
		<string>lazy</string>
		<string>mysterious</string>
		<string>nervous</string>
		<string>scary</string>
		<string>uptight</string>
		<string>brave</string>
		<string>calm</string>
		<string>eager</string>
		<string>gentle</string>
		<string>happy</string>
		<string>jolly</string>
		<string>kind</string>
		<string>nice</string>
		<string>silly</string>
		<string>witty</string>
		<string>chubby</string>
		<string>deep</string>
		<string>flat</string>
		<string>high</string>
		<string>hollow</string>
		<string>colossal</string>
		<string>fat</string>
		<string>huge</string>
		<string>massive</string>
		<string>puny</string>
		<string>scrawny</string>
		<string>teeny</string>
		<string>purring</string>
		<string>raspy</string>
		<string>whispering</string>
		<string>ancient</string>
		<string>fast</string>
		<string>modern</string>
		<string>old</string>
		<string>rapid</string>
		<string>swift</string>
		<string>juicy</string>
		<string>hot</string>
		<string>cold</string>
		<string>chilly</string>
		<string>icy</string>
		<string>fresh</string>
		<string>rotten</string>
		<string>sweet</string>
		<string>weak</string>
		<string>wet</string>
		<string>yummy</string>
		<string>broken</string>
		<string>creepy</string>
		<string>cuddly</string>
		<string>curly</string>
		<string>damaged</string>
		<string>damp</string>
		<string>dirty</string>
		<string>filthy</string>
		<string>fluffy</string>
		<string>cowardly</string>
		<string>complex</string>
		<string>devilish</string>
		<string>drunk</string>
		<string>dizzy</string>
		<string>dull</string>
		<string>dynamic</string>
		<string>erect</string>
		<string>dire</string>
		<string>elite</string>
		<string>eager</string>
		<string>exotic</string>
		<string>faded</string>
		<string>fair</string>
		<string>flaky</string>
		<string>foamy</string>
		<string>scared</string>
		<string>fuzzy</string>
		<string>goofy</string>
		<string>groovy</string>
		<string>gusty</string>
		<string>handy</string>
		<string>hard</string>
		<string>harsh</string>
		<string>hellish</string>
		<string>hissing</string>
		<string>horrible</string>
		<string>hulking</string>
		<string>icky</string>
		<string>idiotic</string>
		<string>illegal</string>
		<string>immense</string>
		<string>impossible</string>
		<string>intelligent</string>
		<string>jolly</string>
		<string>jumpy</string>
		<string>jazzy</string>
		<string>lavish</string>
		<string>legal</string>
		<string>lethal</string>
		<string>long</string>
		<string>loose</string>
		<string>lucky</string>
		<string>lumpy</string>
		<string>macho</string>
		<string>maddening</string>
		<string>magical</string>
		<string>majestic</string>
		<string>merciful</string>
		<string>mighty</string>
		<string>milky</string>
		<string>misty</string>
		<string>moaning</string>
		<string>murky</string>
		<string>nappy</string>
		<string>nasty</string>
		<string>naughty</string>
		<string>neat</string>
		<string>nervous</string>
		<string>nifty</string>
		<string>nimble</string>
		<string>nippy</string>
		<string>nosy</string>
		<string>obese</string>
		<string>painful</string>
		<string>plucky</string>
		<string>polite</string>
		<string>puzzled</string>
		<string>quirky</string>
		<string>rabid</string>
		<string>ragged</string>
		<string>rapid</string>
		<string>rare</string>
		<string>rebel</string>
		<string>rigid</string>
		<string>rustic</string>
		<string>royal</string>
		<string>rude</string>
		<string>ruthless</string>
		<string>sad</string>
		<string>selfish</string>
		<string>shaggy</string>
		<string>silky</string>
		<string>silly</string>
		<string>smelly</string>
		<string>spicy</string>
		<string>splendid</string>
		<string>squealing</string>
		<string>tacky</string>
		<string>tight</string>
		<string>ultra</string>
		<string>unique</string>
		<string>uneven</string>
		<string>utopian</string>
		<string>vast</string>
		<string>venomous</string>
		<string>violent</string>
		<string>vulger</string>
		<string>wacky</string>
		<string>wicked</string>
		<string>wise</string>
		<string>woozy</string>
		<string>worried</string>
		<string>wrathful</string>
		<string>yummy</string>
		<string>zany</string>
		<string>zesty</string>
		<string>red</string>
		<string>orange</string>
		<string>yellow</string>
		<string>green</string>
		<string>blue</string>
		<string>purple</string>
		<string>grey</string>
		<string>black</string>
		<string>white</string>
	</array>
	<key>food</key>
	<array>
		<string>orange</string>
		<string>apple</string>
		<string>grape</string>
		<string>strawberry</string>
		<string>lemon</string>
		<string>lime</string>
		<string>pear</string>
		<string>banana</string>
		<string>plum</string>
		<string>kiwi</string>
		<string>blueberry</string>
		<string>blackberry</string>
		<string>raspberry</string>
		<string>pomagranate</string>
		<string>taco</string>
		<string>burger</string>
		<string>chili</string>
		<string>soup</string>
		<string>boritto</string>
		<string>cookie</string>
		<string>ice cream</string>
		<string>cracker</string>
		<string>lollipop</string>
		<string>chocolate</string>
		<string>vanillia</string>
		<string>mint</string>
		<string>sandwich</string>
	</array>
	<key>noun</key>
	<array>
		<string>orange</string>
		<string>apple</string>
		<string>grape</string>
		<string>strawberry</string>
		<string>lemon</string>
		<string>lime</string>
		<string>pear</string>
		<string>banana</string>
		<string>plum</string>
		<string>kiwi</string>
		<string>blueberry</string>
		<string>blackberry</string>
		<string>raspberry</string>
		<string>pomagranate</string>
		<string>taco</string>
		<string>burger</string>
		<string>chili</string>
		<string>soup</string>
		<string>burrito</string>
		<string>cookie</string>
		<string>ice cream</string>
		<string>cracker</string>
		<string>lollipop</string>
		<string>chocolate</string>
		<string>vanilla</string>
		<string>mint</string>
		<string>sandwich</string>
		<string>kangaroo</string>
		<string>doggie</string>
		<string>kitty</string>
		<string>fish</string>
		<string>shark</string>
		<string>whale</string>
		<string>puppy</string>
		<string>mouse</string>
		<string>rat</string>
		<string>badger</string>
		<string>squirrel</string>
		<string>bat</string>
		<string>monkey</string>
		<string>ape</string>
		<string>gorrilla</string>
		<string>dinosaur</string>
		<string>crab</string>
		<string>lobster</string>
		<string>bird</string>
		<string>eagle</string>
		<string>falcon</string>
		<string>vulture</string>
		<string>dragon</string>
		<string>cow</string>
		<string>deer</string>
		<string>donkey</string>
		<string>gazelle</string>
		<string>hippo</string>
		<string>hamster</string>
		<string>lamb</string>
		<string>jaguar</string>
		<string>lizard</string>
		<string>moose</string>
		<string>ox</string>
		<string>parrot</string>
		<string>camel</string>
		<string>coyote</string>
		<string>dingo</string>
		<string>hog</string>
		<string>iguana</string>
		<string>llama</string>
		<string>mole</string>
		<string>panda</string>
		<string>snake</string>
		<string>turtle</string>
		<string>buck</string>
		<string>wolf</string>
		<string>yak</string>
		<string>hare</string>
		<string>fox</string>
		<string>zebra</string>
		<string>alligator</string>
		<string>bull</string>
		<string>chipmunk</string>
		<string>croc</string>
		<string>elephant</string>
		<string>gila monster</string>
		<string>gopher</string>
		<string>horse</string>
		<string>impala</string>
		<string>koala</string>
		<string>leopard</string>
		<string>panther</string>
		<string>pig</string>
		<string>puma</string>
		<string>racoon</string>
		<string>seal</string>
		<string>tiger</string>
		<string>walrus</string>
		<string>wombat</string>
		<string>baboon</string>
		<string>bear</string>
		<string>bunny</string>
		<string>duck</string>
		<string>cheetah</string>
		<string>cougar</string>
		<string>crow</string>
		<string>frog</string>
		<string>giraffe</string>
		<string>hedgehog</string>
		<string>jackal</string>
		<string>hyena</string>
		<string>lynx</string>
		<string>mule</string>
		<string>otter</string>
		<string>mustang</string>
		<string>otter</string>
		<string>rhino</string>
		<string>ram</string>
		<string>sheep</string>
		<string>sloth</string>
		<string>stallion</string>
		<string>warthog</string>
		<string>toad</string>
		<string>woodchuck</string>
		<string>mammoth</string>
	</array>
</dict>
</plist>
